body {
    background-color: #FAF2F0;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #05B384;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #05B384;
}

.center {
    border: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }