body {
    background-color: #FAF2F0;
    font-family: 'Roboto', sans-serif;
    color: #05B384;
}

h1 {
    color: #05B384;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #05B384;
}

.center {
    border: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 100px;
    text-align: center;
  }

.top-container {
    height: 170px;
}

.middle-container{

}

.bottom-container{

}